<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1oyYS7r0wt8387Rm8vrHr88SH3PR0r0sJnQ&s" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Clima</ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-item>
      <ion-label position="floating" class="labels"><ion-icon name="person-outline" ></ion-icon> Ingresa Ciudad</ion-label>
      <ion-input [(ngModel)]="ciudad" placeholder="Escribe aqui"></ion-input>
  </ion-item>
  <ion-button expand="block" class="labels" color="dark" (click)="bucar()">Buscar</ion-button>
  <br>
  <p class="labels" >Cargado por defecto para: Santiago de Chile</p>
  <ion-item>
    <ion-label class="labels">Humedad: {{ humedad }}%</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="labels">Temp-minima: {{ tempMin }}°</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="labels">Temp-Maxima: {{ tempMax }}°</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="labels">Vel-Viento: {{ viento }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="labels">Clima: {{ clima }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="labels">Descripción: {{ descripcion }}</ion-label>
  </ion-item>
</ion-card-content>

<ion-card>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
