<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://th.bing.com/th/id/OIP.yXymvh8y7KqQXBGT84ic1wHaDP?rs=1&pid=ImgDetMain" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Africa</ion-card-title>
</ion-card-header>
<ion-card>
<ion-text>
  <p>El continente africano evoca aventura.
    Su geografía está hecha de viajes míticos que a lo largo de los siglos nos han deparado algunos de los paisajes más espectaculares del planeta.
    África, como cuna de la humanidad, es un tesoro cultural y antropológico excepcional.
  </p>
</ion-text>
</ion-card>
<ion-card>
  <ion-card-subtitle class="ion.text-center subtitulo">RESERVA NACIONAL MASAI MARA, KENIA</ion-card-subtitle>
  <ion-img alt="" src="https://viajes.nationalgeographic.com.es/medio/2018/01/22/reserva-nacional-masai-mara-web_3ae7f96a.jpg"></ion-img>
  <ion-text>
    <p> Si hay un parque nacional en África que destaque sobre todos es este,
      el de la Reserva Nacional Masai Mara, en la región del Serengueti.
      Si duda, un imprescindible de Kenia. Tiene este nombre porque la legendaria tribu masái habita la zona y por el río Mara,
      que lo cruza. La mayor parte del territorio es sabana en la que puntualmente aparecen acacias salpicando
      el horizonte.
      La fauna tiende a concentrarse en la zona occidental del valle,
      donde el acceso al agua es más fácil. Es fácil ver a los “Cinco Grandes”:
      el león, leopardo, elefante, el búfalo africano y el rinoceronte negro.
      También se puede ver otros animales como el hipopótamo o la hiena manchada.
    </p>
  </ion-text>
</ion-card>
<ion-card>
  <ion-card-subtitle class="ion.text-center subtitulo">CRÁTER DE NGORONGORO, TANZANIA</ion-card-subtitle>
  <ion-img alt="" src="https://viajes.nationalgeographic.com.es/medio/2018/01/22/crater-del-ngorongorweb_36cd8b14.jpg"></ion-img>
  <ion-text>
    <p> Este lugar en Tanzania es uno de los espacios naturales más importantes,
      e imponentes, de todo África. Una fauna única y los rastros de los primeros humanos se mezclan en un lugar increíble.
      La zona de conservación de Ngorongoro es un espacio protegido con una extensión de 8.288 km²,
      al oeste de la ciudad de Arusha, en las tierras altas volcánicas de Tanzania.
      El cráter de Ngorongoro y la garganta de Oldupai no sólo tienen una gran importancia medioambiental
      (es el hábitat para elefantes, leones, leopardos, búfalos y rinocerontes...),
      sino que son uno de los escenarios principales en la investigación de la evolución de la especie humana.
    </p>
  </ion-text>
</ion-card>
<ion-card>
  <ion-card-subtitle class="ion.text-center subtitulo">EL NILO, EGIPTO</ion-card-subtitle>
  <ion-img alt="" src="https://viajes.nationalgeographic.com.es/medio/2018/01/22/el-nilo-egyto-web_f16441c6.jpg"></ion-img>
  <ion-text>
    <p>Más que un simple río,
      casi una divinidad que otorga la vida.
      Con una extensión que supera los 6.800 kilómetros de longitud,
      el Nilo es el mayor río del continente africano.
      Sin él, la civilización de Egipto no habría existido.
      El curso alto del río dio algunos de los episodios más apasionantes en la historia de las expediciones africanas.
      El explorador británico John Hanning Speke fue el primer occidental en alcanzar las fuentes del Nilo,
      una zona que se le resistió al mismísimo David Livingstone.
      Finalmente, fue el galés Henry Morton Stanley quien confirmó la veracidad del descubrimiento de Speke al circunnavegar el lago Victoria.
      De paso, le dio tiempo de protagonizar uno de los saludos más famosos de la historia:
      “El doctor Livingstone, ¿supongo?”, fue lo que dijo al encontrarse enfermo al mítico aventurero en su campamento a la orilla del lago Tanganica.
    </p>
  </ion-text>
</ion-card>
</ion-content>

<ion-card>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
