<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://th.bing.com/th/id/OIP.yXymvh8y7KqQXBGT84ic1wHaDP?rs=1&pid=ImgDetMain" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Africa</ion-card-title>
</ion-card-header>
</ion-content>

<ion-card>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
