<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>¿Nos vamos de viaje?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>
            ELIGE TU PROXIMO DESTINO
          </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Europa</ion-label>
          <ion-radio value="Europa" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Asia</ion-label>
          <ion-radio value="Asia" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Africa</ion-label>
          <ion-radio value="Africa" slot="start"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>America</ion-label>
          <ion-radio value="America" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>

      <ion-card-header>
        <ion-card-title>Contacto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label Position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label Position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label Position="floating">Numero Telefono</ion-label>
        <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label Position="floating">Password</ion-label>
        <ion-input type="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label Position="floating">Confirma Password</ion-label>
        <ion-input type="Confirma Password"></ion-input>
        </ion-item>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion de Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label Position="floating">Direccion</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label Position="floating">Numero</ion-label>
      <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label Position="floating">Ciudad</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label Position="floating">Pais</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button  expand="block" color="primary" class="labels"  [routerLink]="['/home']">Registrar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
