<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://bk.asia-city.com/sites/default/files/styles/og_fb/public/1512840818_nativecover_seiko.jpg?itok=coUMG2Xl" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Asia</ion-card-title>
</ion-card-header>
</ion-content>
