<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://elcomercio.pe/resizer/yZDL98BMOTFd8SIiOB28mkHiDCQ=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/JKQJH7JWBZFZRMF73PZBOPNTPM.jpg" class="logo-principal" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Europa</ion-card-title>
</ion-card-header>
</ion-content>

<ion-card>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
