<ion-header [translucent]="true" class=" center-ion-no-border">
  <ion-toolbar>
    <img alt="" src="https://elcomercio.pe/resizer/yZDL98BMOTFd8SIiOB28mkHiDCQ=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/JKQJH7JWBZFZRMF73PZBOPNTPM.jpg" class="logo-principal" />
    <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Europa</ion-card-title>
</ion-card-header>
<ion-card>
  <ion-card-subtitle class="ion.text-center subtitulo">SIRMIONE (ITALIA)</ion-card-subtitle>
  <ion-img alt="" src="https://media.traveler.es/photos/65c2551ab14f4070e9476959/master/w_2580%2Cc_limit/924955266"></ion-img>
  <ion-text>
    <p>El pueblo más encantador del Lago di Garda es uno de los secretos mejor guardados de los lugareños
      y gracias a los 14.356 votos recibidos, entra en la prestigiosa lista de EBD 2024 junto con otros tres destinos italianos
      (Florencia, Siena y Ponza), lo cual convierte a Italia en el país con más presencia en esta edición.
      <br>
      <br>
      Ubicado en la región de Lombardía,
      a una hora en coche (o dos en tren) del aeropuerto de Bérgamo,
      Sirmione recibe al visitante con su castillo medieval del siglo XII,
      cuya torre ofrece una hermosa vista de la ciudad, incluida la playa Lido delle Bionde.
      <br>
      <br>
      ¿El plan al caer la tarde? Un paseo en barco por el lago degustando el vino local y despidiendo al sol desde las aguas.
    </p>
  </ion-text>
</ion-card>

<ion-card>
  <ion-card-subtitle class="ion.text-center subtitulo">LÈGE-CAP-FERRET (FRANCIA)</ion-card-subtitle>
  <ion-img alt="" src="https://media.traveler.es/photos/65c26594e16ba31452dfabba/master/w_2580%2Cc_limit/Cap-Ferret-Copyright-E-Cowez---Resize.jpg"></ion-img>
  <ion-text>
    <p>Las vacaciones de verano de antaño, sencillas, tranquilas y sin horarios,
      se hacen realidad en Lège-Cap-Ferret: un mercado al aire libre,
      un concierto improvisado, un aperitivo con vistas al faro, un paseo por la playa,
      una visita a la duna de Pilat (la más grande de Europa)…
      <br>
      <br>
      La espléndida Bahía de Arcachón,
      donde la brisa del mar se mezcla con el aroma a pino,
      ofrece además un patrimonio arquitectónico de lo más pintoresco,
      como si de un viaje en el tiempo se tratara. Ah,
      y no te pierdas las excursiones para ver los criaderos de ostras.
    </p>
  </ion-text>
</ion-card>
</ion-content>

<ion-card>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
